{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block stylesheets %}
<link rel="icon" href="{{asset('assets/img/favicon.ico')}}">
<link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')}}" rel="stylesheet">
<link href="{{asset('https://fonts.googleapis.com/css?family=Righteous')}}" rel="stylesheet">
<link href="{{asset('assets/css/mediumish.css" rel="stylesheet')}}">
{% endblock %}

{% block body %}
<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
			<a class="nav-link" href="{{path('article_index')}}">Posts <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="{{path('category_index')}}">Category</a>
			</li>
            <!-- Begin Search -->
		    <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
		    </form>
		<!-- End Search -->
            <li class="nav-item">
			<a class="nav-link" href="{{path('app_logout')}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
			</li>
		</ul>
		<!-- End Menu -->
	</div>
</div>
</nav>
<!-- End Nav
================================================== -->
<br>
<br>
<br>

<div class="container">
    
    

    <h1>Categories
            <a href="{{ path('category_new') }}" class="btn btn-info" >new</a>
            
    </h1>
    
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td><img src="{{ category.image }}" width="80" height="80"/></td>
                <td>
                
                    <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-info" role="button">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-info" role="button">edit</a>
                    <p>{{ include('category/_delete_form.html.twig') }}</p>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div>
{% endblock %}
